@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-mono-50 text-mono-900 antialiased;
  }
}

@layer utilities {
  .card-flat {
    @apply bg-white border border-mono-200;
  }
}
